/* GLOBAL STYLINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* NAVIGATION */
header {
  background: #d66d75; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e29587,
    #d66d75
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e29587,
    #d66d75
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: ;
  top: 0rem;
  z-index: 1;
}

nav ul {
  width: 80%;
  margin: auto;
  display: flex;
  min-height: 10vh;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
nav .shop {
  justify-self: self-end;
}
nav h1 {
  font-size: 3rem;
}

nav li {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

ul i {
  align-self: flex-start;
}

/* Our hero section */

.hero {
  background-image: url(/images/entrance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h2 {
  color: rgb(222, 135, 147);
  font-size: 4rem;
  background: black;
  padding: 3rem;
  opacity: 85%;
  border: 0.2rem solid rgb(222, 135, 147);
  -webkit-border-radius: 90px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius: 90px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-radius: 90px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
}

.hero button {
  padding: 2rem 4rem;
  cursor: pointer;
  background: rgb(222, 135, 147);
  -webkit-border-radius: 90px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius: 90px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-radius: 90px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0.1rem solid black;
  margin-top: 3rem;
  text-transform: uppercase;
}

.hero button:hover {
  background: black;
  border: 0.1rem solid rgb(222, 135, 147);
  color: rgb(222, 135, 147);
  transition: all 0.5 ease;
}

/* INTRO SECTION */

.intro {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.intro-img {
  background: #d66d75; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e29587,
    #d66d75
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e29587,
    #d66d75
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex: 1 1 35rem;
  display: flex;
  align-items: center;
}

.intro-img img {
  width: 100%;
}

.intro-text {
  flex: 1 1 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(222, 135, 147);
  border: 2px solid black;
  text-align: center;
}

.intro-text h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.intro-text p {
  font-size: 2rem;
}

/* SHOP SECTION */

.shop {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #35302f;
}

.shop img {
  height: 30rem;
  width: 20rem;
  margin-bottom: 2rem;
}
.shop img:hover {
  scale: 1.1;
  transition: 1s ease;
}

.shop p {
  padding: 0.2rem;
  font-size: 1.4rem;
}
.shop .shop-item {
  margin: 5rem;
  background: #e2606b;
  padding: 2rem;
  border: 5px solid #e29587;
}

.shop button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
}

.shop button:hover {
  scale: 1.1;
  color: #35302f;
}

/* upper button will let user come back to start of the page*/

.upper {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  font-size: 3rem;
  opacity: 50%;
  z-index: 100;
  display: none;
}

.upperUp {
  display: block;
}

.upper:hover {
  opacity: 100%;
  transition: 1s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 842px) {
  .upper {
    display: none !important;
  }
  html {
    font-size: 40%;
  }
  .hero h2 {
    font-size: 3rem;
    border: 0.5rem solid rgb(222, 135, 147);
    scale: 1.1;
  }

  .hero {
    min-height: 100vh;
  }

  .active {
    transform: translateX(-100%);
    transition: 1s ease;
  }
  .toggle .line1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background: black;
    transition: all 1s ease;
  }
  .toggle .line2 {
    opacity: 0;
    transition: all 1s ease;
  }
  .toggle .line3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    background: black;
    transition: all 1s ease;
  }

  nav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 5rem;
    position: fixed;
    top: 0;
    left: 100%;
    transition: transform 1s ease;
    background: #d66d75;
    z-index: 1;
  }

  nav li {
    font-size: 5rem;
    margin: 3rem;
  }

  nav h1 {
    font-size: 6rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .burger {
    position: fixed;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    z-index: 100;
  }

  .burger span {
    padding: 0.2rem 3rem;
    background: #e2606b;
    display: block;
    margin: 1rem;
    transition: all 1s ease;
  }
}
