/* GLOBAL STYLINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* NAVIGATION */
header{
    background: background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;

   position: sticky;
   top: 0.1rem;
   z-index: 1;
  }

nav ul {
width: 80%;
    margin: auto;
  display: flex;
  min-height: 10vh;
  padding: 1rem;
  align-items: center;
  justify-content:space-evenly;
  
}
nav .shop{
    justify-self: self-end;
}
nav h1{
    font-size: 3rem;
}

nav li{
  
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

ul i {
  align-self: flex-start;
}

/* Our hero section */

.hero{
 background-image: url(/images/entrance.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 min-height: 90vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.hero h2{
color: rgb(222, 135, 147);
font-size: 5rem;
background: black;
padding: 3rem;
opacity: 85%;
border: 0.2rem solid rgb(222, 135, 147);
-webkit-border-radius: 90px;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius: 90px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomleft: 20px;
border-radius: 90px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
text-align: center;
}

.hero button{
    padding: 2rem 4rem;
    cursor: pointer;
    background: rgb(222, 135, 147);
    -webkit-border-radius: 90px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius: 90px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-radius: 90px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0.1rem solid black;
    margin-top: 3rem;
}



/* INTRO SECTION */

.intro{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    
}

.intro-img{
    background: background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
flex: 1 1 10rem;
display: flex;
align-items: center;
}

.intro-img img{

    width: 100%;
}

.intro-text{
flex: 1 1 10rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: rgb(222, 135, 147);
border: 2px solid black;
text-align: center;
}

.intro-text h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.intro-text p{
    font-size: 2rem;
}


/* upper button will let user come back to start of the page*/

.upper {

  position: fixed;
  bottom: 5rem;
  right: 5rem;
  font-size: 3rem;
  opacity: 50%;
  z-index: 100;
}

.upper:hover {
  opacity: 100%;
  transition: 1s;
}
